{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('admin_dashboard') }}">
                                <i class="bi bi-house-door"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_index') }}">
                                <i class="bi bi-person"></i> Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_course_index') }}">
                                <i class="bi bi-calendar-event"></i> Courses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_abonnement_index') }}">
                                <i class="bi bi-card-checklist"></i> Subscriptions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1 class="h2">Dashboard</h1>

                <div class="row">
                    <!-- Total Users -->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card text-white bg-primary">
                            <div class="card-body">
                                <h5 class="card-title">Total Users</h5>
                                <p class="card-text">{{ totalUsers }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total Subscriptions -->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card text-white bg-success">
                            <div class="card-body">
                                <h5 class="card-title">Total Subscriptions</h5>
                                <p class="card-text">{{ totalSubscriptions }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total Courses -->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card text-white bg-warning">
                            <div class="card-body">
                                <h5 class="card-title">Total Courses</h5>
                                <p class="card-text">{{ totalCourses }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- New Registrations -->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">New Registrations</h5>
                                <p class="card-text">{{ newRegistrations }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
